/* body{
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    position: relative;
    width: 1600px;
    height: 2349px;
    background: #FFFFFF;
}

.ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    display: inline;
}

a{
    text-decoration: none;
}
.header{
    box-sizing: border-box;
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    height: 80px;
    width: 1600px;
    font-weight: bold;
    text-align: center;
}

.WebStudio{
    position: absolute;
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
}

.logo-link{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-accent {
    color: #212121;
}

.Studio{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
    margin-top: 32px;
    margin-left: 93px;
}

.Portfolio{
    position: absolute;
        width: 76px;
        height: 16px;
        left: 552px;
        top: 32px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
}

.Contacts{
    position: absolute;
        width: 68px;
        height: 16px;
        left: 679px;
        top: 32px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
}

.conatacts1{
    margin-right: 50px;
}

.gm{
        position: absolute;
        width: 135px;
        height: 16px;
        left: 1078px;
        top: 32px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #2196F3;
        
}

.tel{
    position: absolute;
        width: 122px;
        height: 16px;
        left: 1263px;
        top: 32px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #757575;
}

.main{
    background: #2F303A;
}

.main-txt{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.button{
    background: #2196F3;
    border-radius: 4px;
    margin-left: 700px;
    width: 200px;
    height: 50px;
    border-color: transparent;
}

.button-txt{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
}

.peculiarities{
    color: #212121;
    display: flex;
    justify-content: space-between;
    margin-top: 294px;
    width: 1170px;
    margin-left: 215px;
    height: 100px;
}

.work{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-top: 94px;
}

.img1{
    width: 370px;
    height: 294px;
    box-sizing: border-box;
    margin-right: 30px;
    margin-left: 215px;
}

.img2{
    width: 370px;
    height: 294px;
    box-sizing: border-box;
    margin-right: 30px;
}

.img3{
    width: 370px;
    height: 294px;
    box-sizing: border-box;
}

.team-list{
    background: #F5F4FA;
    width: 1600px;
    height: 648px;
    content: "";
        clear: both;
        display: table;
        margin-top: 94px;
}

.team-title{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}

.worker1{
    width: 270px;
    height: 368px;
    background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        float: left;
        margin-right: 30px;
        margin-left: 215px;
        margin-top: 50px;
}

.img-worker1{
    background: url(4853.jpg);
        border-radius: 0px;
        width: 270px;
        height: 260px;
}

.worker2{
    width: 270px;
    height: 368px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    float: left;
    margin-right: 30px;
    margin-top: 50px;
}
.worker3{
    width: 270px;
    height: 368px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    float: left;
    margin-right: 30px;
    margin-top: 50px;
}
.worker4{
    width: 270px;
    height: 368px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    float: left;
    margin-top: 50px;
}

.footer{
    background: #2F303A;
}

.li{
    display: block;
}

#address{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
} */